# =========================
# CMake
# =========================

build/
Build/
build-*/
cmake-build-*/

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
Testing/

# CMake local user presets
CMakeUserPresets.json


# =========================
# Compiled object files
# =========================

*.o
*.obj
*.lo
*.slo


# =========================
# Precompiled headers
# =========================

*.gch
*.pch


# =========================
# Dependency files
# =========================

*.d


# =========================
# Libraries
# =========================

*.a
*.lib
*.la
*.lai

*.so
*.so.*
*.dylib
*.dll


# =========================
# Executables
# =========================

*.exe
*.out
*.app


# =========================
# Debug files
# =========================

*.pdb
*.ilk
*.dwo


# =========================
# Temporary files
# =========================

*.tmp
*.log
*.bak
*.swp

.cache/


# =========================
# Package managers
# =========================

vcpkg_installed/


# =========================
# Output directories
# =========================

bin/